@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* padding: 15px 0px; */
    background: #b5b5ff
}

.container {
    padding: 15px;
    border-radius: 15px;
    width: 420px;
    height: 620px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
}

.searchInput {
    margin-right: 10px;
    padding: 5px;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    border-radius: 0.9375em;
    border: 0.125em solid #fff;
}

.searchInput:focus {
    border: 1px solid #1A1A1A;
}

.searchInput::placeholder {
    color: white;
}


button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid white;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: rgb(233, 233, 233);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    /* min-height: 3.75em;
    min-width: 0; */
    outline: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #1A1A1A;
    background-color: white;
    box-shadow: rgba(212, 212, 212, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.city {
    color: #fff;
}

.temp {
    color: #fff;
    font-size: 6rem;
}

.feelsLike {
    color: #fff;
    margin-bottom: 10px;
}

.detailContainer {
    width: 100%;
    background: rgba(235, 235, 235, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(19px);
    border: 1px solid rgba(235, 235, 235, 0.3);
    padding: 10px 13px;
    color: #fff;
}

.boxes {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-row: auto auto; */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.detailBox {
    width: 90%;
    height: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    background: #2446a6;
    box-shadow: 3px 3px 7px 0px #000046;
}

.invertColor {
    filter: invert(100%);
}

.loader {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}


/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {
    .mainContainer {
        height: fit-content;
    }
}

/* SmartPhone */
@media(min-width: 320px) and (max-width: 500px) {
    .mainContainer {
        height: 100vh;
    }

    .container {
        height: 100vh;
        font-size: 12px;
    }
}